.rabbit {
    max-height: 150px;
}

nav {
    float: right;
    clear: both;
    background-color: #333;
    overflow: hidden;
}

nav a {
    text-align: center;
    color: #f2f2f2;
    padding: 14px 16px;
    text-decoration: none;
}

nav a:hover {
    background-color: #ddd;
    color: black;
}

nav a.active {
    background-color: #04AA6D;
    color: white;
}

h1, nav {
    display: inline-block;
}

.even-columns{
    display: flex;
    flex-wrap: wrap;
}

.even-columns > * {
    flex: 1 1 50%;
}

.contact-us-body {
    size: cover;
}

h2 {
    text-align: center;
}